body {
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
    margin:0;
    padding: 0;
}


.header, .footer, .one {
    background-color: #1F2937;
}

.header {
    padding: 20px 100px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}
.links {
    display:flex;
    gap: 15px;
}
a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
    width: 400px/3;
}

.one {
    padding: 20px 100px 100px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap:wrap;
    gap: 30px;
}
.text {
    color: #F9FaF8;
    font-size: 48px;
    font-weight: 900;
}
.text2 {
    color: #E5E7EB;
    font-size: 18px;

}
.img1 {
    width: 400px;
    height: 200px;
}
.separate {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    flex-wrap: wrap;
    gap:10px;
}
.btn1 {
    padding: 8px;
    font-size: 16px;
    color:white;
    background-color: #3882F6;
    border: 1px black;
    border-radius: 8px;
    width: 120px;
}

.two {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 30px;
    
}
.box {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.text3 {
    text-align: center;
    color: black;
    font-size: 44px;
    font-weight: bold;
}
.boxbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.three {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background-color: #E5E7EB;
    
}
.right {
    width: 650px;
    align-self: flex-end;
    font-weight: 900;
    font-size: 16px;
}

.text4 {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    flex-wrap: wrap;
}
.four {
    display: flex;
    justify-content: space-evenly;
    background-color: #3882F6;
    align-items: center;
    margin: 100px 330px;
    padding: 40px 100px;
    border-radius: 12px;
}

.text5 {
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.text6 {
    color: white;
}

.btn2 {
    color: white;
    font-size: 16px;
    background-color: #3882F6;
    padding: 6px 30px;
    border: 3px solid white;
    border-radius: 8px;
}
.footer {
    padding: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 12px;
    border: 3px solid red;
}